@charset "UTF-8";
/*em HTL é id = em CSS é #
em HTML é class = em CSS é .*/

body {
    background-color: rgba(165, 231, 165, 0.719);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(31, 201, 9);
}
h1#principal {
    text-align: center;
    text-shadow: 5px 5px 5px black;
    background-color: white;
}
h2 {
    color: rgb(79, 143, 90);
}